<h1>Kitten Index Page</h1>

<% @kittens.each do |kitten| %>
	
	<p>
	Name:
	<%= kitten.name %> | 
	Age:
	<%= kitten.age %> | 
	Cuteness:
	<%= kitten.cuteness %> | 
	Softness:
	<%= kitten.softness %> | 
	<%= link_to "Delete", kitten_path(kitten), method: :delete, data: {confirm: "Really delete the kitten?"} %> | 
	<%= link_to "Edit", edit_kitten_path(kitten) %> 
	<p>

<% end %>


<%= link_to "Add a new kitten!", new_kitten_path %>

